{% extends 'base.html' %}

{% block html_lang %}es{% endblock %}

{% block head %}
        
{% endblock %}

{% block body %}
        <div class="page">
            <div class="page-background-front"></div>
            <div class="content p-5">
                <div class="row justify-content-center mt-4">
                    <img
                        src="{{ base_url + url_for('static', filename='img/certificado/logo.svg') }}"
                        alt="Logo"
                        class="img-fluid mt-5"
                        style="max-width: 300px"
                    />
                </div>
                <div class="row text-center" style="margin-top: -30px">
                    <div class="title-certifica text-uppercase">
                        CERTIFICADO
                    </div>
                    <div class="title-ortoga">que se otorga a</div>
                </div>
                <div class="row text-center">
                    <div class="fullnames text-uppercase">
                        {{ persona.nombres | first_word }} {{ persona.apellidos }}
                    </div>
                    <div class="foid text-uppercase">
                        C.I: {{ persona.cedula |format_cedula }}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="comment">
                        Por haber demostrado en el ejercicio técnico y
                        profesional, las competencias teóricas - prácticas
                        exigidas para el desempeño del PERFIL PRODUCTIVO LABORAL
                    </div>
                    <div class="formation" style="margin-top: 10px">
                        AYUDANTE DE ARTESANO CONSTRUCTOR DE EDIFICACIONES DE
                        TIERRA
                    </div>
                </div>
            </div>

            <div class="row sign">
                <div class="single-signature">
                    <div class="align-self-center text-center">
                        <!-- src="data:image/png;base64,{{ signature_gte_inst }}" -->
                        <img
                            src="{{ base_url + url_for('static', filename='img/firma/presidenteInces.png') }}"
                            alt="Firma"
                            class="img-fluid img-signature-float"
                        />
                        <hr />
                        <div class="who-signature">Wuikelman Angel Paredes</div>
                        <div class="who-signature">Presidente del Inces</div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="date_emition">
                    <span class="fwbold">Caracas</span>, {{ '2024-06-14'
                    |format_date_long_es }}
                </div>
            </div>
        </div>

        <div class="page">
            <div class="page-background-back"></div>
            <div class="row table-content">
                <div class="col-8">
                    <div class="table_matriz">
                        <table border="1">
                            <tr>
                                <td class="colspan">TEMAS</td>
                                <td class="hours">HORAS</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div class="table_register">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="12" class="colspan">REGISTRO</td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4" class="col-4 colspan">
                                    LIBRO N°
                                </td>
                                <td colspan="4" class="col-4 colspan">HOJA</td>
                                <td colspan="4" class="col-4 colspan">
                                    CONSECUTIVO
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4" class="colspan">
                                    CÓDIGO DE EJECUCIÓN
                                </td>
                                <td colspan="4" class="colspan">
                                    CÓDIGO DE FORMACIÓN
                                </td>
                                <td colspan="4" class="colspan">
                                    FECHA DE GENERACIÓN
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4" class="colspan">
                                    DURACIÓN HORAS
                                </td>
                                <td colspan="4" class="colspan">
                                    FECHA DE INICIO
                                </td>
                                <td colspan="4" class="colspan">
                                    FECHA DE TERMINO
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="12" class="colspan">
                                    CORRELATIVO
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="text-center">
                                    07160101700000182026
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="qrcode">
                <img
                    src="{{ base_url + url_for('static', filename='img/certificado/qrcode.png') }}"
                    alt="QR Code"
                />
                <a href="#" target="_blank">https://app.inces.net.ve</a>
            </div>
        </div>
{% endblock %}
