.ant-table-thead th,
.ant-table-tbody td {
    font-size: 12px !important;
}
.ant-pagination .ant-pagination-item-active a {
    color: #ffff !important;
}

.ant-pagination .ant-pagination-item-active{
    border-color: #cb0c9f !important;
}

